<app-admin *ngIf="isAdmin"></app-admin>

<app-user *ngIf="!isAdmin"></app-user>

<!-- // View of the componet -->
<H1> Welcome to my app !</H1>
<h3> Data binding</h3>
1. Unidirectional data binding
Interpollation:
<p>Title:{{title}}</p>
Property binding:
<a [href]="url">Google link</a>

<img [src]="imageUrl" alt="My image">
<button (click)="changeImage()">Toggle Image</button>
<hr>
{{imageUrl}}
<hr>
Event Binding:
<button (click)="logInfo()">Log Info.</button>

2. Two way data binding
<h3> User form</h3>
<form>
    User Name:
    <input [(ngModel)]="name" name="userName">
    <br>
    <label>
        <input type="checkbox" [(ngModel)]="isSubscribed" name="checkBox">
        User Subscription.
    </label>
    <br>

    Gender:
    <label>
        <input type="radio" name="gender" value="Male" [(ngModel)]="gender">
        Male
    </label>
    <label>
        <input type="radio" name="gender" value="Female" [(ngModel)]="gender">
        Female
    </label>

</form>
Note:
name: {{name}}<br>
isSubscribes:{{isSubscribed}}<br>
Gender:{{gender}}
<hr>
<h3> Built in Structural directives</h3>
*ngIf
<br>
<label>
    <input type="checkbox" [(ngModel)]="isSubscribed" name="checkBox">
    User Subscription.
</label>
<br>
<div *ngIf="isSubscribed; else  elseSubscriptionBlock">
    <p> Thank you for subscription !</p>
</div>
<ng-template #elseSubscriptionBlock>
    <p *ngIf="!isSubscribed"> Please subscribe !</p>

    <p> Contact 'subscribe.gmail.com' for subscription.. </p>
</ng-template>

<div *ngIf="fruits != null && fruits.length !=0; else noFruitsBlock">
    Available fruits are:
    <ul>
        <li *ngFor="let fruit of fruits; index as i;first as isFirst; last as isLast">
            <label *ngIf="isFirst">--List Start--</label>
            {{i+1}}:{{fruit}}
            <label *ngIf="isLast">--List Ends--</label>
        </li>
    </ul>
</div>
<ng-template #noFruitsBlock>
    <p> All fruits are out of stock! </p>
</ng-template>

<h3> List of products</h3>
<p *ngIf="products.length == 0">No products to display...</p>
<div *ngIf="products.length > 0">
    <table class="table">
        <thead>
            <tr>
                <th>sl no</th>
                <th>Name</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let product of products; index as i">

                <td>{{i+1}}</td>
                <td [ngClass]="{'instock':product.inStock}">{{product.name}}"</td>
                <td>{{product.price}}</td>

            </tr>
        </tbody>
    </table>
</div>
<hr>
<h3> ngSwitch</h3>
<div [ngSwitch]="userType">
    <p *ngSwitchCase="'admin'">Admin block</p>
    <p *ngSwitchCase="'user'">User block</p>
    <p *ngSwitchDefault>Guest block</p>
</div>
<h3> Demo of Switch and select</h3>
<label for="color">Select color</label>
<select id="color" [(ngModel)]="userSelectedColor">
    <option value="red">Red</option>
    <option value="green">Green</option>
    <option value="blue">Blue</option>
</select>
{{userSelectedColor}}
<div [ngSwitch]="userSelectedColor">
    <p *ngSwitchCase="'red'" style="color:red">You selected red</p>
    <p *ngSwitchCase="'green'" style="color:green">You selected green</p>
    <p *ngSwitchCase="'blue'" style="color:blue">You selected blue</p>
    <p *ngSwitchDefault>Unknown color</p>

</div>
<hr>
<h3> Attribute directives: ngClass , ngStyle </h3>
<p [ngClass]="{'highlight':isActive}">Highlighted Para: Active User</p>
<!-- <button (click)="isActive = !isActive">Toggle</button> -->
<p [ngStyle]="{'color':textColor, 'font-size':fontSize+'px'}">
    Dynamic Styling using ngStyle !
</p>
<hr>
<h3> Custom directive</h3>
<p appHighlight> Am a special para !</p>
<h3> Built in Pipes</h3>
{{companyName}}<br>
{{companyName | titlecase}}<br>
{{companyName | uppercase}}<br>
{{companyName | lowercase}}<br>
<h3>Decimal pipe</h3>
<div>
       <p>
      No number pipe specified:
      {{ pi }}
      <!--output: '3.142'-->
    </p>
    <p>
      No specified formatting:
      {{ pi | number }}
      <!--output: '3.142'-->
    </p>

    <p>
      With digitsInfo parameter specified:
      {{ pi | number: '4.1-5' }}
      <!--output: '0,003.14159'-->
    </p>

    <p>
      With digitsInfo and locale parameters specified:
      <!-- {{ pi | number: '4.1-5' : 'fr' }} -->
      <!--output: '0 003,14159'-->
    </p>
        <p>
      With digitsInfo :
      {{ value | number: '2.2-2' }}
      <!--output: '0 003,14159'-->
    </p>
  </div>
  <div>
    a:{{a}}<br>
    b:{{b}}
    <!--output '$0.26'-->
    <p>A: {{ a | currency }}</p>

    <!--output 'CA$0.26'-->
    <p>A: {{ a | currency: 'CAD' }}</p>
    <!--output 'CA$0.26'-->
    <p>A: {{ a | currency: 'INR' }}</p>
    <!--output 'CAD0.26'-->
    <p>A: {{ a | currency: 'CAD' : 'code' }}</p>

    <!--output 'CA$0,001.35'-->
    <p>B: {{ b | currency: 'CAD' : 'symbol' : '4.2-2' }}</p>

    <!--output '$0,001.35'-->
    <p>B: {{ b | currency: 'CAD' : 'symbol-narrow' : '4.2-2' }}</p>

    <!--output '0 001,35 CA$'-->
    <!-- <p>B: {{ b | currency: 'CAD' : 'symbol' : '4.2-2' : 'fr' }}</p> -->

        <!--output 'CA$0,001.35'-->
    <p>B: {{ b | currency: 'INR' : 'symbol' : '4.2-2' }}</p>

    <!--output '$0,001.35'-->
    <p>B: {{ b | currency: 'INR' : 'symbol-narrow' : '2.2-2' }}</p>

    <!--output '0 001,35 CA$'-->
    <!-- <p>B: {{ b | currency: 'INR' : 'symbol' : '4.2-2' : 'fr' }}</p> -->

    <!--output 'CLP1' because CLP has no cents-->
    <p>B: {{ b | currency: 'CLP' }}</p>
  </div>
  <div>
    <h3> PercentPipe </h3>
    <!--output '26%'-->
    <p>A: {{ a | percent }}</p>

    <!--output '0,134.950%'-->
    <p>B: {{ b | percent: '4.3-5' }}</p>

    <!--output '0 134,950 %'-->
    <!-- <p>B: {{ b | percent: '4.3-5' : 'fr' }}</p> -->
  </div>
  <div>
    <p>Without JSON pipe:</p>
    <pre>{{ object }}</pre>
    <p>With JSON pipe:</p>
    <pre>{{ object | json }}</pre>
  </div>
  <div>
   <p>Today is {{today | date}}</p>
    <p>Or if you prefer full format , {{today | date:'full'}}</p>
   <p>Or if you prefer, {{today | date:'fullDate'}}</p>
   <p>The time is {{today | date:'h:mm a z'}}</p>
 </div>
 <h3> Custom pipes</h3>
 <p>{{companyName | titlecase | star}}</p>
 <p>Square of 5: {{5 | square}}</p>
  <p>Square of 25: {{25 | square}}</p>
  <div>
    <h3> Custom search pipe:</h3>
    <input type="text" placeholder="search text" name="searchText" [(ngModel)]="userQuery">
    <button (click)="searcProduct()">Search</button>
    <button (click)="addProduct()">Add Product</button>
    <ol>
        <li *ngFor="let product of products | search :searchText:'name'">
            {{product | json}}

        </li>
    </ol>
  </div>
  <div *ngIf="products.length > 0">
    <table class="table">
        <thead>
            <tr>
                <th>sl no</th>
                <th>Name</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let product of products | search:searchText:'name'; index as i">

                <td>{{i+1}}</td>
                <td [ngClass]="{'instock':product.inStock}">{{product.name}}"</td>
                <td>{{product.price}}</td>

            </tr>
        </tbody>
    </table>
</div>