<!-- // View of the componet -->
<H1> Welcome to my app !</H1>
<h3> Data binding</h3>
1. Unidirectional data binding
Interpollation:
<p>Title:{{title}}</p>
Property binding:
<a [href]="url">Google link</a>

<img [src]="imageUrl" alt="My image">
<button (click)="changeImage()">Toggle Image</button>
<hr>
{{imageUrl}}
<hr>
Event Binding:
<button (click)="logInfo()">Log Info.</button>

2. Two way data binding
<h3> User form</h3>
<form>
    User Name:
    <input [(ngModel)]="name" name="userName">
    <input type="checkbox" [(ngModel)]="isSubscribed" name="checkBox">

    Gender:
    <label>
        <input type="radio" name="gender" value="Male" [(ngModel)]="gender">
        Male
    </label>
    <label>
        <input type="radio" name="gender" value="Female" [(ngModel)]="gender">
        Female
    </label>
    
</form>
Note:
name: {{name}}<br>
isSubscribes:{{isSubscribed}}<br>
Gender:{{gender}}