<div>
    <h2> Angular Routing</h2>
    <nav>
        <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"> Home</a>
        <a routerLink="/about" routerLinkActive="active"> About</a>
        <a routerLink="/users" routerLinkActive="active"> Users</a>
        <a routerLink="/registration" routerLinkActive="active"> Registration</a>
        <a routerLink="/parent" routerLinkActive="active"> Parent</a>
        <a routerLink="/books" routerLinkActive="active"> List Books</a>
        <a routerLink="/books/new" routerLinkActive="active"> Add Book</a>
        
        <a routerLink="/demo" routerLinkActive="active"> Demo</a>
    </nav>
    <hr>
    <router-outlet></router-outlet>
</div>
<hr>
<h3> Demo of BehavourSubject / asynchronous communication b/n components</h3>
<app-user />